head{
    justify-content: space-between;
}

h1{
    font-weight: bolder;
}

a{
    border: 2px solid var(--color-white);
    border-radius: 10px;
    font-weight: 700;
}

a:link{
    text-decoration-line: none;
}

#place__order{
    border: 2px solid var(--color-white) !important;
    border-radius: 10px !important;
}

#place_holder{
    animation-name: example !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


@keyframes example{
    from{transform: rotate(10deg);}
    to{transform: rotate(0deg);}
}

@media screen and (max-width: 768px) {
    #place__order{
        padding: 6% !important;
    }

    #place_holder{
        width: 30vw !important;
    }
}