#price-list{
    color: var(--color-bg);
}

#price{
    font-weight: 700;
}

a{
    border: none;
}

.btn{
    background-color: var(--color-bg) !important;
    text-align: center !important;
}

#home{
    height: 6vh;
    background-color: var(--color-variant-bg) !important;
    padding: 1%;
    padding-bottom: 2.5% !important;
    justify-items: center !important;
    justify-content: center !important;
}

#check{
    color: var(--color-bg);
}

#price_item{
    margin-left: -11% !important;
}

#order_button{
    margin-left: 8% !important;
}

#price__container{
    gap: 3vw !important;
}

@media screen and (max-width: 786px){
    #price_list{
        font-size: smaller !important;
    }

    #price_item{
        width: 30vw !important;
    }

    #order_button{
        justify-content: center !important;
        text-align: center !important;
        width: 20vw !important;
    }

    #home{
        text-align: center !important;
        width: 15vw !important;
        padding-top: 2.5% !important;
    }
}